/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* SPLASH AND NAVS */
 body {
     margin: 0;
 }

 .masthead {
     width: 75%;
     margin: 0 auto;
 }

.splash-nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
 }

.container-splash {
    min-width: 1100px;
}
 
 .slogan {
    margin: 50px 14px 0 95px;
    width: 50%;
    height: 23%;
 }

    /* SIGN UP */

.signup-form-container{
    height: 500px;
    display: flex;
}

.signup-submit { 
    margin-top: 5px;
    background-color: #fdd05f;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
.signup-submit:hover {
    background-color: #f7bf31;   
}

.signup-input {
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
    padding-left: 5px;
}

.signup-form {
   float: right;
   width: 280px;
   color: red;
}

.signup-form label input {
    height: 30px;
    border: #DCD6CC 1px solid;
}

.signup-form label input::placeholder {
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.topBlurb {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.lilBlurb{
    margin-top: 5px;
    color: #706b5f;
    width: 60%;
    float: right;
    font-size: 10px;
    line-height: 12px;
}

.cherry {
    color: black;
}
 
    /* LOGIN */

.login-form-container {
    display: flex;
 }

 .login-form {
     display: flex;
     margin-top: -22px;
 }
 
.login-form label input {
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
}
 
.login-submit {  
    background-color: #382110; 
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
    width: 19%;
    margin-left: 8px;
}
.login-submit:hover {
    background-color: #804e2b;   
}

.DemoButton {
    background-color: #fdd05f;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}

.error-pop-ups{
    background-color: white;
    font-size: 17px;
    display: block;
    margin-top: -3%;
    float: right;
    border-radius: 20px;
    color: red;
}

.error-pop-ups li {
    list-style: none;

}

.splashFooter {
    position: absolute;
    bottom: 4%;
    width: 100%;
    min-height: 200px;
    height: 20%;
    background-color: #f9f8f4;
}

.footer-uls-divs {
    width: 30%;
    margin-right: 0;
    float: left;
}

.socials {
    padding-top: 3%;
}

.footer-uls {
    list-style: none;
}
.footer-uls h3 {
    color: #767676;
    font-weight: bold;
    line-height: 1.15;
    margin: 12px 0;
    text-transform: uppercase;
    color: #767676;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.footer-uls li {
    line-height: 1.5;
    font-size: 14px;
    list-style: none;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #382110;
}

.footer-wrapper{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.left-footer-container {
    float: left;
    width: 60%;
}
.right-footer-container {
    padding-top: 10px;
    float: right;
    width: 35%;
    height: 300px;
}

.right-footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-mobile-version {
    text-decoration: none;
    color: #382110;
    line-height: 1.5;
    font-size: 14px;
}