/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* SPLASH AND NAVS */
 body {
     margin: 0;
 }

 .masthead {
     width: 970px;
     margin: 0 auto;
 }

 .background-image {
    background-image: url("background.jpg");
    width: 100%;
    height: 1000px;
    z-index: -1;
    position: absolute;     
 }

.splash-nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
 }
 
 .slogan {
     margin: 50px 0 0 95px;
     float: left;
 }

    /* SIGN UP */

.signup-form-container{
    height: 500px;
}

.signup-submit { /* button */
    margin-top: 5px;
    background-color: #fdd05f;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
.signup-submit:hover {
    background-color: #f7bf31;   
}

.signup-input {
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
}

.signup-form {
   float: right;
   width: 280px;
   color: red;
   /* margin: 25px 20px 0 0; */
}

.signup-form label input {
    height: 35px;
    border: #DCD6CC 1px solid;
}

.signup-form label input::placeholder {
    font-size: 16px;
    /* font-weight: lighter; */
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.topBlurb {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.lilBlurb{
    margin-top: 5px;
    color: #706b5f;
    width: 60%;
    float: right;
    font-size: 10px;
    line-height: 12px;
}

.cherry {
    color: black;
}
 
    /* LOGIN */

.login-form-container {
    display: flex;
 }

 .login-form {
     display: flex;
     margin-top: -22px;
 }
 
.login-form label input {
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
}
 
.login-submit {  /* button */
    background-color: #382110; 
    color: white;
    border-radius: 5px;
    /* padding-bottom: 5px;
    padding-top: 5px; */
    font-size: 12px;
    padding: 8px;
    width: 19%;
    margin-left: 8px;
}
.login-submit:hover {
    background-color: #804e2b;   
}

.error-pop-ups{
        background-color: white;
    font-size: 17px;
    display: block;
    margin-top: -3%;
    float: right;
    border-radius: 20px;
    color: red;
}

.error-pop-ups li {
    list-style: none;

}