.bookshelfContainer{
    height: 400px;
    /* border: solid 1px black; */
}

.bookShelves{
    color: #00635d;
    width: 18%;
    margin: 0;
    list-style: none;
    padding-left: 0;
    border-bottom: solid 1px #00635d;
}

.bookShelves li:nth-child(5)  {
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

.bookShelves li:nth-child(6)  {
    padding-top: 9px;
}

.addBookshelfInput{
    width: 60%;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    resize: none;
    padding: 2px;
    height: 15px;
}

.addBookButton {
    background-color: #F4F1EA;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin-left: 4px;
    margin-bottom: 9px;
}

.addBookshelfText {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.bookShelves form {
    margin-top: 9px;
}

.bookShelves-button {
    background-color: #F4F1EA;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin-top: 9px;
    margin-bottom: 9px;
}

.bookShelves-header {
    font-weight: bold;
    color: black;
    margin-top: 10px; 
}

.bookList {
    margin-top: 7%;
    height: 50%;
    float: right;
    background-color: blue;
    width: 75%;
    border: solid 1px black;    
}

.bookList h1 {
    font-size: 100px;
    text-align: center;
}
#myBooksCol {
    border-bottom: solid 1px #BBB596;
}

#myBooksCol h2 {
    margin-top: 9px;
    margin-bottom: 9px;
}

.h2-shelf {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    background-color: #F4F4EA;
    border-radius: 5px;
    padding: 2px 0px 2px 5px;
    font-size: smaller;
    white-space: nowrap;
    display: inline-block;
}