.bookIndexTable {
  width: 100%;
}

.book-title {
    font-family: "Merriweather", "Georgia", serif;
}

.book-author {
      font-family: "Merriweather", "Georgia", serif;

}

.book-image-col img {
    width: 15%;
    float: left;
    margin-right: 2%;
}

.bookshelf-button {
    width: 110px;
    background-color: #f2f2f2;
    border-color: #dddddd;
    height: 30px;
    border-radius: 4px;
}