.bookIndexTable {
  width: 100%;
}

.book-title {
    font-family: "Merriweather", "Georgia", serif;
}

.book-author {
      font-family: "Merriweather", "Georgia", serif;

}
 
.book-image-col img {
    width: 85%;
    box-shadow: 0px 5px 5px #ddd;
}

.book-image-col {
    min-width: 150px;
    width: 23%;
    float: left;
    padding-top: 3%;
}

.book-content {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    min-width: 250px;
    width: 55%;
}

.Readers-Also {
    width: 30%;
    /* height: 500px; */
}

.readers-also-text {
    font-size: 7px;
    font-weight: bold;
}

.Readers-Also img {
    width: 29%;
    margin: 0 2% 0 2%;
    float: left;
}
.books-carousel {
    height: 35%;
    margin-top: 37%;
}

.books-carousel ul {
    padding-left: 0;
}

.author-name {
    font-size: 12px;
    font-weight: bold;
}
.author-name2 {
    font-size: 14px;
}

.author-photo {
    width: 25%;
    border-radius: 50%;
}
.bookshelf-button ul { 
    list-style: none;
    
}

.bookshelf-button-item:hover {
    color: green;
}


.removeBook {
    width: 40px;
    height: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border-color: red;
}

.bookItemTitle {
    color: #00635d;
    font-size: 14px;
}

.book-row a {
    text-decoration: none;
}

.rating a {
    text-decoration: none;
}

.shelves {
    display: none;
    max-height: 215px;
    margin: 2px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 2px;
    background: #ffffff;
    border-color: #cccccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    z-index: 1001000;
    max-height: 250px;
    overflow: hidden;
    padding: 0;
    right: 0;
    text-align: left;
    top: 28px;
    width: 180px;
}

.bookshelf-button {
    margin-top: 5%;
    margin-left: 5%;
}
.first-bookshelf li {
    border-color: #dddddd;
}

.bookshelf-button-item {
   list-style: none;

    float: left;

    border-width: 1px;
    padding: 6px 0 7px 8px;
    min-width: 105px;

    border-color:white;
    color: #181818;
    line-height: 100%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    font-weight: bold;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.shelves-drop-down {
    outline: none;
    width: 27px;
    background-color: #409D69;
    height: 100%;
    border-color: transparent;
    border-radius: 3px;
    /* min-height: 25px; */
    height: 28px;
    padding: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAQAAABaf7ccAAAAKUlEQVR4AX3KsQEAIAzDsJzez8MuoF6tdLo1icQdiBvilrglnw1xS9wHeq2Hge3);
    background-repeat: no-repeat;
    background-size: 8px 4px;
    background-position: center;
}
.shelves-drop-down:hover {
    background-color: rgb(27, 139, 76);
}

.show {
    display: block;
}

.rate-this-book {
    font-size: 11px;
    height: 16px;
    line-height: 14px;
    margin: 0 3em;
    padding: 3px 6px 0 6px;
    width: 100px;
    color: #999999;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-align: center;
}

.book-show-top{
    width: 100%;
    display: flex;
}