.bookIndexTable {
  width: 100%;
}

.book-title {
    font-family: "Merriweather", "Georgia", serif;
}

.book-author {
      font-family: "Merriweather", "Georgia", serif;

}

.book-image-col img {
    width: 100%;
    /* float: left;
    margin-right: 2%; */
}

.book-image-col {
    width: 16%;
    height: 400px;
    float: left;
    padding-top: 3%;
}

.book-content {
    float: right;
    width: 42%;
    margin-right: 36%;
}

.bookshelf-button {
    width: 110px;
    background-color: #f2f2f2;
    border-color: #dddddd;
    height: 30px;
    border-radius: 4px;
}
.bookshelf-button ul { list-style: none}

.removeBook {
    width: 40px;
    height: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border-color: red;
}

.bookItemTitles {
    color: red;
}

.book-row a {
    text-decoration: none;
}
