.bookshelfContainer{
    height: 400px;
}

.bookShelves{
    color: #00635d;
    width: 18%;
    margin: 0;
    list-style: none;
    padding-left: 0;
    border-bottom: solid 1px #00635d;
    float: left;
}

.bookShelves li:nth-child(5)  {
    padding-bottom: 5px;
    border-bottom: solid 1px #D8D8D8;
}

.bookShelves li:nth-child(6)  {
    padding-top: 9px;
}

.addBookshelfInput{
    width: 60%;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    resize: none;
    padding: 2px;
    height: 15px;
}

.addBookButton {
    background-color: #F4F1EA;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin-left: 4px;
    margin-bottom: 9px;
}

.addBookshelfText {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.bookShelves form {
    margin-top: 9px;
}

.bookShelves-button {
    background-color: #F4F1EA;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin-top: 9px;
    margin-bottom: 9px;
}

.bookShelves-header {
    font-weight: bold;
    color: black;
    margin-top: 10px; 
}

.bookList {
    margin-top: 2%;
    height: 50%;
    float: right;
    width: 75%;
}

.bookList h1 {
    font-size: 100px;
    text-align: center;
}

.deleteMe {
    color: white;
}

.deleteMe:hover {
    border-radius: 48px;
    border: solid 1px red; 
    color: red;
}
#myBooksCol {
    border-bottom: solid #BBB596 1px;
}

#myBooksCol h2 {
    margin-top: 9px;
    margin-bottom: 9px;
}

.h2-shelf {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    background-color: #F4F4EA;
    border-radius: 5px;
    padding: 2px 0px 2px 5px;
    font-size: smaller;
    white-space: nowrap;
    display: inline-block;
}


.logged-in-header-link {
    /* position: fixed;
    width: 100%;
    margin-bottom: 14px; */
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid #ece7dc 1px;
    font-size: 14px;
 }


.header-group {
    padding-top: .7%;
    display: flex;
    justify-content: right;
    margin-right: 3%;
    margin-top: .1%;
}

.header-name {
    margin: 0;
}

.searchbooks {
    padding-top: 1%;
    width: 40%;
    display: flex;
    justify-content: center;
}
.searchbooks input {
    height: 64%;
    width: 65%;
}

#myBooksCol h2 {
    color: #00635d;
}
.login-nav {
    padding: 10px;
    border-radius: 2px;
    background-color: brown;
    color: white;
}

.logged-in-header-link {
    height: 50px;
    background-color: #F4F1EA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);

}

.logged-in-header-link ul {
    height: 100%;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    width: auto;

}

.logged-in-header-link ul a {
    height: 100%;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    text-decoration: none;
    color: #382110;
}


.logged-in-header-link li:hover:not(:first-child) {
    background-color: #382110;
    text-decoration: none;
    color: white;
 }

.logged-in-header-link li:hover a {
    text-decoration: none;
    color: white;
 }


.logged-in-header-link img {
    padding-top: 7%;
    height: 29px;
}

.header-button {
    border-radius: 45px;
    height: 24px;
    margin-top: 1%;
}

/* .header-group img {
    padding-top: 0; 
    border-radius: 48px;
}

.header-image:hover {
    width: 200px;
} */

.header-image:hover .header-button {
    color: red;
}
.header-link-container {
    width: 75%;
    display: flex;
    margin: auto;
}

.logged-in-header-link ul li:not(:first-child) {
    padding: 15px 15px 10px 15px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.myBooksLink a {
    width: 75px;
}

.bookIndexTable {
    color: #00635d;
    border-collapse: collapse
}

.bookIndexTable th {
    text-align: left;
    color: black;
}

.bookIndexTable td { 
    padding-top: 10px;
    font-size: 14px;
    vertical-align: top;
}

.bookshelfTableTitle {
    color: #00635d;
    font-size: 14px;
    list-style: none;
    cursor: pointer; 
    text-decoration: none;
}

.book-row img {
    height: 16%;
}

.book-row {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.shelves li:first-child:hover .shelves li:not(:first-child) {
  color: red;
}

.bookindextableHeader {
    border-bottom: solid 1px black;
}

.BookIndexTableHeader th {
    height: 30px;
    font-size: 12px;
}

.bookshelfUL {
    margin-top: 0;
    padding-left: 0;
}

.individualBookshelf:hover {
    text-decoration: underline;
     cursor: pointer; 
}

.BookIntexTableHeaderTitle {
    width: 25%;
}

.BookIntexTableHeaderAuthor {
    width: 20%;
}

.BookIntexTableHeaderAvg {
    width: 10%;
}