.browseBooksContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.browseBook{
    min-height: 200px;
    min-width: 200px;
    width: 20%;
    height: 40%;
    background-color: blue;
}

.browseBookImage {
    width: 100%;
}

.browseBook a {
    text-decoration: none;
    color: #00635d;
}
.browseBook h1 {
    text-align: center;
}