.myRatingStars{
    margin-top: 3px;
    float: left;
}

.editRate {
    float: left;
    margin-left: 0;
    /* margin-top: 11.4%; */
    height: auto;
    padding: 0 10px;
}
.my-rating-section {
    display: flex;
    border-bottom: solid 1px #eee;
    width: 70.5%;
    height: 22px;
    
}

.editRate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.editRate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ccc;
}
.editRate:not(:checked) > label:before {
    content: '★ ';
}
.editRate > input:checked ~ label {
    color: #ffc700;    
}
.editRate:not(:checked) > label:hover,
.editRate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.editRate > input:checked + label:hover,
.editRate > input:checked + label:hover ~ label,
.editRate > input:checked ~ label:hover,
.editRate > input:checked ~ label:hover ~ label,
.editRate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
