.logged-in-header-link {
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: solid 1px;
 }


.header-group {
    padding-top: .7%;
    display: flex;
    justify-content: right;
    margin-right: 3%;
    margin-top: .1%;
}

.header-name {
    margin: 0;
}

.searchbooks {
    padding-top: 1%;
    width: 50%;
}
.searchbooks input {
    height: 64%;
    width: 65%;
}

#myBooksCol h2 {
    color: #00635d;
}
.login-nav {
    padding: 10px;
    border-radius: 2px;
    background-color: brown;
    color: white;
}

.logged-in-header-link {
    height: 50px;
    background-color: rgba(244,241,234,0.5);
}

.logged-in-header-link ul {
    height: 100%;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    width: 25%;
    /* padding-top: 10px; */
}

.logged-in-header-link li:hover:not(:first-child) {
    color: white;
    background-color: #382110
 }

.logged-in-header-link img {
    padding-top: 7%;
    height: 29px;
}

.header-button {
    /* display: none; */
    border-radius: 45px;
    height: 24px;
    margin-top: 1%;
}

.header-group img {
    padding-top: 0; 
    border-radius: 48px;
}

.header-image:hover {
    width: 200px;
}

.header-image:hover .header-button {
    /* display: block; */
    color: red;
}

.logged-in-header-link ul li:not(:first-child) {
    /* margin: 5px; */
    padding: 15px 15px 10px 15px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}
