.reviews{
    border: solid 1px black;
}

.rating {
    text-align: center;
}

.individual-review{
    border: solid 1px black;
}

.review-body {
    font-size: 14px;
    font-family: "Merriweather", "Georgia", serif;
}