.reviews{
    /* border: solid 1px black; */
}

.rating {
    text-align: center;
}

.individual-review{
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}

.reviews-index-header {
    font-size: 14px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}
.reviews-showing-numbers{
    float: right;
}
.review-header {
    font-size: 14px;
}

.review-body {
    font-size: 14px;
    font-family: "Merriweather", "Georgia", serif;
}

.review-author {
    font-size: 14px;
    color: #00635d;
}

.review-rating {
    text-align: right;
}

.edit-review{
    float: right;
    margin-top: 0;   
}
.edit-review:hover {
    color: blue;
    border: solid 1px blue;
    border-radius: 48px;
}
.delete-review {
    float: right;
    margin-top: 0;
}
.delete-review:hover {
    color: red;
    border: solid 1px red;
    border-radius: 48px;
}

.review-container{
    min-height: 400px;
    border: solid 1px black;
    margin: 0 auto;
}

.review-book-image {
    float: left;
    width: 5%;
    height: 10%;
    padding-right: 5px;
}
.review-edit-header {
    font-size: 20px;
}

.green {
    color: #00635d
}

.review-book-title {
    margin: 0;
}

.review-book-author {
    margin: 0;
}

.review-header-wrapper {
    border-bottom: 1px solid #eee;
}
.section1 {
    display: flex;
}
.section2 {
    flex-direction: column;

}
.review-box {
    width: 80%;
    min-height: 400px;
}

.review-save-button {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
}