

.rating {
    text-align: center;
}

.individual-review{
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}
.my-individual-review{
    padding-bottom: 8px;
}
.reviews {
    width: 70%;
    clear: both;
}

.reviews ul {
    padding-left: 0;
}

.reviews-index-header {
    font-size: 14px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}
.reviews-showing-numbers{
    float: right;
}
.review-header {
    font-size: 14px;
}

.review-body {
    font-size: 14px;
    font-family: "Merriweather", "Georgia", serif;
}

.review-author {
    font-size: 14px;
    color: #00635d;
}

.review-rating {
    text-align: right;
}

.edit-review{
    clear: both;
    margin-top: 0;   
    margin-left: 125px;
}

.myReview-content a {
    text-decoration: none;
    color: #00635d;
}

.myReview-content a:hover {
    text-decoration: underline;
}

.delete-review {
    float: right;
    margin-top: 0;
}
.delete-review:hover {
    color: red;
    border: solid 1px red;
    border-radius: 48px;
}

.review-container{
    min-height: 400px;
    width: 70%;
}

.review-book-image {
    float: left;
    width: 7%;
    height: 10%;
    padding-right: 5px;
}
.review-edit-header {
    font-size: 20px;
}

.green a {
    color: #00635d;
    text-decoration: none;

}
.review-book-title {
    margin: 0;
}

.review-book-author {
    margin: 0;
}

.review-header-wrapper {
    border-bottom: 1px solid #eee;
}
.section1 {
    display: flex;
}
.section2 {
    flex-direction: column;

}
.review-box {
    min-height: 200px;
    resize: vertical;
    width: 100%;
    height: auto;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    line-height: 21px;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    padding: 2px;
}


.whatdidyouthink{
    clear: both;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.review-save-button {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
}

.my-activity-span {
    font-size: 14px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.my-activity-header {    
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 8px;
}

.myReview-content {
    font-size: 14px;
}

.myReview-suffix {
    width: 125px;
    float: left;
}
.review-body {
    width: 75%;
}